.information {
    border: 1px solid gray;
    border-radius: 10px;
    /* height: 97vh; */
    padding: 10px 20px;
}

.information .my-info .my-pic {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.information .my-info .my-pic img {
    width: 100%;
    border-radius: 50%;
}

.information .my-info h4,
h5,
small {
    margin-top: 5px;
    margin-bottom: 5px;
}

.information .my-info small {
    display: block;
}

.information hr {
    width: 80%;
    background-color: gray;

}

.activity-details button:last-child {}