.header {
    background-color: #1A2238;
    padding: 20px 0;
}

h2 {
    text-align: center;
    color: #FF6A3D;
    margin: 0;
    font-size: 27px;
    font-weight: 500;
}

span {
    margin-left: 10px;
}

@media screen and (max-width: 576px) {
    h2 {
        font-size: 21px;
    }
}